body{
    margin:0px;
}

/* Body Header */

#body-header{
    height:60vh;
    background-image: url(./static/img/back1.jpg);
    background-size: cover;
    opacity:0.8;
    padding-top: 1.2rem;
}

/* Horizontal List */

.horizontal-list{
    list-style: none;
    padding-left:0;
    margin:0px;

}

.horizontal-list li{
    display: inline-block;
    margin:0px 8px 8px 0px;
    font-weight: 100;
    font-size: 1rem;
}

.horizontal-list li a{
    text-decoration: none;
    color:white;
    
}

.nav-menu li a{
    transition: color 0.05s, border-bottom 2s;
}
.text-center{
    text-align:center;
}

.nav-menu li a:hover{
    color:grey;
    border-bottom: 1px solid grey;
}

/* Name and Social Icons */

#name-social-container{
    margin-top:12vh;
}

#my-name{
    font-size: 3rem;
    color:white;
    font-weight: 500;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 0.2rem;

}

.social-icons li a i{
    padding:5px;
    font-size: 1rem;
    color:white;
}

.social-icons li a i:hover{
    color:grey;
    /* border:2px solid grey; */
    border-radius:50%;
    box-shadow: 0px 0px 6px 4px grey;
    
}

/* Section flex */
section{
    width:100%;
    /* height:75vh; */
    display:flex;
    flex-direction:column;
    align-items: center;
}

section:nth-child(2n){
    background-color: #9e9b9b29;
}

section:nth-child(2n+1){
    background-color: white;
}

.section-heading{
    width:auto;
    padding:20px 10px 10px;
    font-weight: 400;
}

.section-heading span{
    font-size:40px;
    padding-top:10px;
    color:#2857a4;
    margin-right:0.5rem;
    display:inline-block;
}

section:target{
    background-color: skyblue;
}

/* About */

#about{
    height:auto;
    width:100%;
    position:relative;
}

#my-image{
    height: 12rem;
    width: 12rem;
    margin:auto;
    margin-top:-16vh;
    
    }

#my-image img{
    height: 100%;
    width: 100%;
    border-radius:50%;
    box-shadow: 0px 0px 4px 5px grey;
}

#about-para{
    padding: 10px;
    width: 70%;
    height: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-weight: 100;
    font-size: 1.1rem;
}
/* skills */

.skills-display{
    width:80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border:3px solid black; */
}

.skills-progress{
    height:1.2rem;
    width:9rem;
    background-color:grey;
    border-radius: 0.8rem;
    margin:20px;
    /* border:3px solid black; */
    /* padding-left:3px 3px 2px 5px; */
}

.skills-progress>div{
    border-radius: 20px 20px 20px 20px;
}

.skills-name span{
    color:white;
    margin-left:10px;
    font-size: 1rem;
}

/* Percentage classes */

.java{
    width: 80%;
    height:inherit;
    background-color: rgb(224, 50, 79);

}
.html{
    width:95%;
    height:inherit;
    background-color: green;

}

.css{
    width:90%;
    height:inherit;
    background-color: rgb(213, 204, 20);

}

.js{
    width:85%;
    height:inherit;
    background-color: rgb(41, 180, 215);

}

.dsa{
    width:75%;
    height:inherit;
    background-color: rgb(84, 16, 220);

}


/* Projects */

.timeline{
    position:relative;
    width:80%;
    /* display:flex;
    flex-wrap: wrap;
    justify-content: space-around; */
    /* border:2px solid black; */
}

.timeline-box{
    position:relative;
    width:42%;
    min-height:150px;
    /* border:2px solid black; */
    margin: 5px;
    padding-top: 32px;
}

.timeline-box:nth-child(2n){
    left:53%;
}

.timeline-box:nth-child(2n+1)::after{
    content:'';
    position:absolute;
    width:0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    top:28%;
    right:-19%;
    background-color: green;
    z-index: 1;

}

.timeline-box:nth-child(2n)::after{
    content:'';
    position:absolute;
    width:0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    top:31%;
    right:107%;
    background-color: green;
    z-index: 1;

}

.timeline-divider{
    position:absolute;
    left:50%;
    top:10%;
    height:67%;
    width:2px;
    background-color: red;
    
    /* border:2px solid green; */
}

.timeline-traveller{
    position:sticky;
    top:35%;
    transform: rotate(90deg);
    bottom:90%;
    z-index: 2;
}

.timeline-box:nth-child(2n+1) p{
    text-align: right;
}

.timeline-box p{
    line-height: 130%;
}


.project-name{
    font-size: 1.2rem;
    font-weight: 700;
    color:#2857a4;
}

.time-period{ 
    color:green;
    font-size: 0.7rem;
    margin-top:-10px;
}

.client{
    color:#2857a4;
}

.timeline-box a{
    text-decoration: none;
    color:green;
}

.timeline-box a:hover{
    color:grey;
    box-shadow: 0px 0px 6px 4px grey;
    padding:2px;
}

.timeline-box a:visited{
    color:rgb(0, 157, 255);
}

#tex{
    text-align: left;
}

.desc-box{
    height:0;
    width:0;
    position:fixed;
    top:0;
    left:0;
    overflow:hidden;
    transition:all 2s ease-in-out;
}

.desc-box:target{
    height:auto;
    width:30%;
    top:25%;
    left:13%;
    background-color:#2857a4;
    box-shadow: 0px 0px 6px 5px grey;
    padding:10px;
    color:white;
}

/* Education */

.edu{
    position:relative;
    width:80%;
    /* height:50vh; */
    /* border:2px solid black; */

}

.edu-box{
    position:relative;
    width:42%;
    min-height:200px;
    /* border:2px solid black; */
    margin:5px;
    margin-top:10px;
    padding-top:25px;
}

.edu-box:nth-child(2n){
    left:53%
}

.edu-box:nth-child(2n+1)::after{
    content:'';
    position: absolute;
    border-radius: 50%;
    height: 0.5rem;
    width: 0.5rem;
    right:-19%;
    top:22%;
    background-color: green;
    z-index: 1;
}

.edu-box:nth-child(2n)::after{
    content:'';
    position: absolute;
    border-radius: 50%;
    height: 0.5rem;
    width: 0.5rem;
    right:107%;
    top:23%;
    background-color: green;
    z-index: 1;
} 

.edu-divider{
    position:absolute;
    height:50%;
    width:2px;
    background-color: red;
    left:50%;
    top:13%;
    
}

.edu-traveller{
    position:sticky;
    top:40%;
    z-index: 2;
}

.edu-box:nth-child(2n+1) p{
    text-align: right;
}

.edu-box p{
    line-height: 130%;
}

.deg-name{
    font-size: 1.2rem;
    font-weight: 700;
    color:#2857a4;
}

.spec-name{
    font-size: 0.8rem;
    color:rgb(55, 55, 55);
}

.session{
    color:green;
    font-size: 0.7rem;
    margin-top:-10px;
}

.institute{
    font-size: 1rem;
    color:#2857a4;
    font-weight: 500;
}

.location{
    font-size: 0.7rem;
    color:green;
}

/* common margin classes */

.mb75px{
    margin-bottom:75px;
}

/* common color classes */

.text-highlight{
    font-weight:600;
    color:#2857a4;
    
}



/* Portfolio */

.portfolio-box{
    width:80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio-inner{
    height: 300px;
    width:300px;
    background-color: red;
    margin:10px; 
    background-size:cover;
}

.portfolio-inner img{
    height:100%;
    width:100%;
}

/* Contact */

#contact{
    background-image:linear-gradient(135deg, gray, orange 100%);
}

.contact-box{
    width:80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: linear-gradient(orange, lightgray);
    margin:10px;
}

.contact-inner{
    height:auto;
    width:38.5%;
    /* background-color:skyblue; */
    margin:10px;
    padding:10px;
    line-height: 150%;
}

label{
    color:white
}

button:hover{
    box-shadow: 0px 0px 6px 4px grey;
}

.contact-inner p{
    color:white;
}

#myself{
    color:#2857a4;
    font-size:1.2rem;
    font-weight: 500;
}

#details{
    color:rgb(35, 61, 49);
}

#cont-name{
    color:rgb(2, 76, 76);
}

.contact-inner i{
    color:#2857a4;
}
